<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Information</title>
</head>
<body>
    <h1>User Information</h1>
    <ul>
      
            <li>Email: {{ user.email }}</li>
            <li>Full Name: {{ user.get_user_fullname }}</li>
            <li>Orders:
                <ul>
                    {% for order in user.get_user_orders %}
                        <li>Order ID: {{ order.id }}, Amount: {{ order.get_final_amount }}</li>
                        <!-- Accessing the order products -->
                        <li>Products:
                            <ul>
                                {% for orderproduct in order.orderproducts.all %}
                                    <li>{{ orderproduct.product.name }}</li>
                                    <!-- Add more details of the product as needed -->
                                {% endfor %}
                            </ul>
                        </li>
                        <!-- Add more details of the order as needed -->
                    {% endfor %}
                </ul>
            </li>

    </ul>
</body>
</html>
